@font-face {
    font-family: pixel;
    src: url(font/Silkscreen/slkscr.ttf);
}

:root {
    color-scheme: dark;
}

.canvas{
    overflow: auto;
    padding: 1rem;
    flex-grow: 1;
    --size: 20px;
    display: grid;
    grid-template-columns: repeat(15, var(--size));
    grid-auto-rows: var(--size);
    gap: calc(var(--size) / 10);
}

.cell {
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 30%);
    text-align: center;
    font-size: 0.3rem;
    padding:0.1rem;
}

.cell.alive {
    background-color: hsl(0, 0%, 50%);
}
.is_running{
    pointer-events: none;
}